.menuButton {
      margin-right: 20px !important;
}

.buttonHeader {
    background: #004f7a !important;
    border-radius: 0px !important;
    padding-left: 4% !important;
    margin-left: -4% !important;
    height: 65px;
    padding-right: 2% !important;
}

.bar{
    height: 65px;
}
@media(max-width:601px){
    .buttonHeader{
        background-color: #4377a7 !important;
    }
}